body{
  background-image: url("img/6545e34a0c5d99db51e102ca4ba83fe8.jpg");
}
.top {
  position: fixed;
  color: red;
  padding: center !important ;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 550px;
  margin: 90 !important;
  top: 40px;
  z-index: 2;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: auto;
}
