img {
  width: 2000vw;
  max-width: 100%;
  display: flex;
  padding-top: 30px;
  padding-bottom: 50px;
}


#intro {
background-color: black;
}

 a {
  color: white;
  font-family: "trade-gothic-next-condensed", sans-serif;
font-weight: 1000;
font-style: normal;
font-size: 5vw;
display: flex;
flex-wrap: wrap;
justify-content: left;
align-items: left;

}
a:hover {
  color: blueviolet;
}
a:link {
  text-decoration: none;
}






