body {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 120px 80px 40px 20px #0ff;
    height: 100vh;
    background-color: black;
    margin: 0;
    overflow: hidden;
   
}

.clock-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.hour, .minute, .second {
    position: absolute;
    font-size: 74px;
    white-space: nowrap;
    font-family: trade-gothic-next, sans-serif;
font-weight: 700;
font-style: normal;
    color: whitesmoke;
    /* text-shadow: 0 0 10px whitesmoke, 0 0 20px whitesmoke, 0 0 30px whitesmoke, 0 0 40px #CC3539; */

}

.hour {
    top: 0;
    animation: moveUp 3600s infinite alternate;
    font-size: 200px;
    opacity: 10%;
}

.minute {
    left: 100%;
    animation: moveLeft 60s infinite linear;

opacity: 30%;
}

.second {
    top: 0;
    left: 0;
    animation: moveDiagonal 1s infinite linear;

font-size: 70px;
}

@keyframes moveUp {
    0% {
        top: 0;
    }
    100% {
        top: 100%;
    }
}

@keyframes moveLeft {
    0% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}

@keyframes moveDiagonal {
    0% {
        top: 0;
        left: 0;
    }
    100% {
        top: 100%;
        left: 100%;
    }
}